<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
 	xsi:schemaLocation="http://www.springframework.org/schema/beans      
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
			<bean class="com.app.beans.Employee" name="emp" autowire="byName"
			p:id="5"  
			p:name="pratik"
			>
				<property name="list">
					<list>
						<value>10</value>
						<value>20</value>
					</list>
				
				</property>
			</bean>
			
			<bean class="com.app.beans.Address" name="addr">
				<property name="addrId" value="1001"/>
				<property name="location" value="Pune"/>
			
			</bean>
	
		</beans>
